<div ng-include src="'templates/shared/notifications.html'"></div>
<div class="row full-width margin-top" ng-show='unit'>
  <h2>
    <text class="coloured">Name: </text>
    <a href="#" editable-text="unit.attributes.name" onbeforesave="updateUnit('name', $data)">
      {{unit.get('name')}}
    </a>
  </h2>
  <h5>
    <text class="coloured">Facilty: </text> {{unit.get('facility').get('name')}}</h5>
  <h5>
    <i tooltip-placement="top" tooltip="Click to edit or show Shift Times" ng-click="toggleData('shiftTimes')" class="fa fa-edit"></i>
    <text class="coloured">Shift Times: </text>{{shiftTimes.join(", ")}}
    <div ng-show="edit.toggle['shiftTimes']">
      <textarea class="small-top-margin" msd-elastic ng-model="editUnit.shiftTimes" ng-list="&#10;" ng-trim="false"></textarea>
      <button type="submit" class="small-button small-top-margin small-left-margin" ng-click="updateUnit('shiftTimes')">
        Update Shift Times
      </button>
    </div>
  </h5>
  <h5>
    <i tooltip-placement="top" tooltip="Click to edit or show Variance Reasons" ng-click="toggleData('varianceReasons')" class="fa fa-edit"></i>
    <text class="coloured">Variance Reasons: </text>{{unit.get('varianceReasons').join(", ")}}
    <div ng-show="edit.toggle['varianceReasons']">
      <textarea class="small-top-margin" msd-elastic ng-model="editUnit.varianceReasons" ng-list="&#10;" ng-trim="false"></textarea>
      <button type="submit" class="small-button small-top-margin small-left-margin" ng-click="updateUnit('varianceReasons')">
        Update Variance Reasons
      </button>
    </div>
  </h5>
  <h5>
    <text class="coloured">Staff Shifts: </text>
  </h5>
  <div class="row">
    <div class="medium-6 medium-offset-6 columns">
      <div class="medium-6 columns">
        <select2 style="width: 100%;" ng-model="editStaffShifts.selectedDay" s2-options="dayOfTheWeeks.indexOf(dayOfTheWeek) as dayOfTheWeek for dayOfTheWeek in dayOfTheWeeks"></select2>
      </div>
      <div class="medium-6 columns">
        <select2 style="width: 100%;" ng-model="editStaffShifts.selectedTime" s2-options="shiftTimes.indexOf(shiftTime) as dateParse(shiftTime.toString()) for shiftTime in shiftTimes"></select2>
      </div>
    </div>
  </div>
  <div class="row margin-top">
    <table id="staff_shift_table">
      <thead>
        <th>Title</th>
        <th bn-range="i in 1...35">
          {{ i }}
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="staffShift in staffShifts | staffShiftFilter:editStaffShifts.selectedDay:editStaffShifts.selectedTime">
          <td>{{staffShift.get('title')}}</td>
          <td ng-repeat="grid in staffShift.get('grids')[editStaffShifts.selectedTime] track by $index">
            {{grid}}
          </td>
        </tr>
      </tbody>
    </table>

    <div>

    </div>
  </div>
</div>
