<div ng-include src="'templates/shared/notifications.html'"></div>
<div ng-show="user.currentUser">
  <div class="row full-width margin-top">
    <form class="margin-bottom" ng-submit="addNewUser()" name="user_form" ng-show="isAdmin() && usersFetched == true">
      <h3 style="text-align: center">Create new User</h3>
      <div class="medium-12 large-6 big-margin-top large-offset-3">
        <div class="row margin-top none-left-margin ">
          <div class="medium-12 large-6 columns">
            <label>Username</label>
            <input type="text" ng-model="newUser.username" class="form-control" required></input>
          </div>
          <div class="medium-12 large-6 columns">
            <label>Password</label>
            <input type="text" ng-hide="newUser.isHidePassword" ng-model="newUser.password" required class="form-control inline"></input>
            <input type="password" ng-show="newUser.isHidePassword" ng-model="newUser.password" required class="form-control inline"></input>
            <i tooltip-placement="right" tooltip="Click to show or hide password" ng-click="toggleNewUserPassword()" class="fa fa-edit new"></i>
          </div>
          <div class="medium-12 large-6 columns">
            <label>Role</label>
            <select2 style="width: 100%;" ng-model="newUser.role" s2-options="role.get('info').get('name') as role.get('info').get('name') for role in roles" required></select2>
          </div>
          <button type="submit" class="small-button small-top-margin small-left-margin">
            Create User
          </button>
        </div>
      </div>
    </form>
    <table id="users_table" ng-show="usersFetched  == true">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Role name</th>
          <th ng-show="isAdmin()">Facility</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th ng-show="isAdmin()">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users | orderBy:'-createdAt'">
          <td>{{user.id}}</td>
          <td>{{user.get('username')}}</td>
          <td>{{user.roleName}}</td>
          <td ng-show="isAdmin()">{{user.facilityName}}</td>
          <td>{{user.createdAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
          <td>{{user.updatedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
          <td class="no-bottom-margin min-width" ng-show="{{isAdmin()}}">
            <button ng-confirm-click="Are you sure?" ng-click="destroyUser(user)" class="alert small-button">Delete User</button>
            <button ng-hide="user.inputForPasswordIsShow" ng-click="showInputForPassword(user)" class="info small-button">Update password</button>
            <form ng-show="user.inputForPasswordIsShow" ng-submit="updatePassword(user)" name="password_form" novalidate>
              <input type="text" ng-hide="editUser.isHidePassword[user.id]" ng-model="editUser.password[user.id]" required class="form-control inline"></input>
              <input type="password" ng-show="editUser.isHidePassword[user.id]" ng-model="editUser.password[user.id]" required class="form-control inline"></input>
              <i tooltip-placement="right" tooltip="Click to show or hide password" ng-click="togglePassword(user.id)" class="fa fa-edit icon"></i>
              <button ng-show="user.inputForPasswordIsShow" class="success small-button">Click to update password</button>
            </form>
            <button ng-hide="user.inputForRoleIsShow" ng-click="showInputForRole(user)" class="info small-button">{{user.roleName ? "Update role" : "Add role"}}</button>
            <form ng-show="user.inputForRoleIsShow" ng-submit="updateRole(user)" name="role_form">
              <select2 style="width: 100%;" ng-model="editUser.role[user.id]" s2-options="role.get('info').get('name') as role.get('info').get('name') for role in roles"></select2>
              <button ng-show="editUser.role[user.id]" class="success small-button small-top-margin">Click to update role</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <div ng-hide="usersFetched == true">
      Fetching...
    </div>
    <div ng-show="usersFetched == 'error'">
      There was a problem with fetching data, please refresh your page.
    </div>
  </div>
</div>
