<div ng-controller="SessionCtrl">
  <div data-alert class="alert-box alert round" ng-show="error">
    {{error}}
    <a href="#" class="close">&times;</a>
  </div>
  <div data-alert class="alert-box success round" ng-show="success">
    {{success}}
  <a href="#" class="close">&times;</a>
  </div>
  <div class="large-3 large-centered columns" ng-hide="currentUser">
    <div class="login-box">
      <div class="row">
        <div class="large-12 columns">
          <form ng-submit="signInUser()">
            <div class="row">
              <div class="large-12 columns">
                <input type="text" ng-model="user.username" name="username" placeholder="Username" />
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <input type="password" ng-model="user.password" name="password" placeholder="Password" />
              </div>
            </div>
            <div class="row">
              <div class="large-12 large-centered columns">
                <input ng-disabled="disabledButton" type="submit" class="button expand" value="Log In"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="currentUser">
    <div class='content'>
      <div class='visible'>
        <p>
          Hello
        </p>
        <ul>
          <li>{{currentUser.username}}</li>
          <li>in</li>
          <li>Staffingwidget app</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Negative Notification Threshold</th>
            <th>Positive Notification Threshold</th>
            <th>Notifications</th>
            <th>Object id</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="facility in facilities">
            <td>{{facility.name}}</td>
            <td>{{facility.negativeNotificationThreshold}}</td>
            <td>{{facility.positiveNotificationThreshold}}</td>
            <td>{{facility.notifications}}</td>
            <td>{{facility.objectId}}</td>
            <td>{{facility.createdAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
