#staff_shift_table {
  input.editable-input {
    width: 30px;
    margin-top: 10px;
  }
  button{
    top: -7px;
    margin-bottom: 0px;
    padding: 5px 10px;
  }
  button:nth-child(2){
    // bottom: -26px;
    top: 28px;
    left: -60px;
  }
  .editable-buttons{
    height: 60px;
    width: 75px;
  }
}
