<html lang="en" ng-app="app" ng-cloak>

<head>
  <base href="/">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Stafficiency</title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body ng-controller="ApplicationCtrl">

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a ui-sref="index">Stafficiency</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon">
        <a href="#">
          <span>Menu</span>
        </a>
      </li>
    </ul>
    <section class="top-bar-section" ng-show="user.currentUser">
      <ul class="left">
        <li><b><a ui-sref="facility">MANAGE FACILITY</a></b></li>
      </ul>
      <ul class="left">
        <li><b><a ui-sref="users">USERS</a></b></li>
      </ul>
      <ul ng-show="isAdmin()" class="left">
        <li><b><a ui-sref="facilities">FACILITIES</a></b></li>
      </ul>
      <ul class="left">
        <li><b><a ui-sref="stats">STATS</a></b></li>
      </ul>
      <ul class="right">
        <li><a href="#">You are signed in as: {{user.currentUser.get('username')}} </a></li>
        <li class="has-form"><button ng-click="logout()">Logout</button></li>
      </ul>
    </section>
  </nav>
    <div ui-view><%= yield %></div>

</body>

</html>
